{
	"extends" : ["airbnb", "airbnb/hooks", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["warn"],
		"react/prop-types": "off",
		"react/react-in-jsx-scope": "off",
		"react/destructuring-assignment": "off",
		"import/prefer-default-export":"off",
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"quotes": [2, "single", { "avoidEscape": true }],
		"no-param-reassign": ["error", { "props": false }]
	},
	"env": {
        "browser": true
	},
	"parserOptions": {
		"ecmaVersion": 11
	}
}