.nav-item {
    margin-right: 14px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: super;
}

.nav-link:focus {
    outline: #FFF 1px solid;
}

@media screen and (max-width: 767.5px) {
    .nav-item {
        margin-right: 0;
        margin-bottom: 18px;
    }
    .nav-item:last-child {
        margin-bottom: 0;
    }
}