.button {
  width: 160px;
  height: 42px;
  background-color: #FAA805;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
}

.button_location_form {
  align-self: center;
  background-color: black;
  border-radius: 44px;
  width: 324px;
  height: 44px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 10px;
}

.button_inactive {
  background-color: #808080;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 4pt 2pt #fff;
}

.button_location_carousel:focus {
  outline: none;
  box-shadow: 0 0 4pt 2pt #242424;
}

.button_location_banner:focus {
  outline: none;
  box-shadow: 0 0 0 1pt #242424;
}

.button_location_form:focus { 
  outline: none;
  box-shadow: 0 0 4pt 2pt #242424;
}

@media screen and (max-width: 425px) {
  .button_location_form {
    width: 280px;
    margin-top: 61px;
  }
}