.header-nav {
  display: flex;
  justify-content: center;
  background: #393939;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  padding: 17px;
  width: 1060px;
  height: 48px;
  box-sizing: border-box;
  z-index: 4;
  position: fixed;
  left: 50%;
  margin-left: -530px;
  transition: opacity 1s ease-in-out, background-color 1s ease-in-out;
}

.header-nav_theme_light {
  background-color: #efefef;
}

.header-nav__brand {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 20px;
}

.header-nav__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 14px;
  background: transparent;
  /* visibility: hidden; */
}

.header-nav__social {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  width: 18px;
  height: 14px;
}

.header-nav__social_mobile {
  right: 56px;
}

.header-nav__open-menu-button {
  background-color: transparent;
  background-position: center;
  width: 14px;
  height: 14px;
  border: none;
  position: absolute;
  right: 20px;
  top: 17px;
}

@media screen and (max-width: 1120px) {
  .header-nav {
    max-width: calc(100vw - 60px);
    margin-left: calc((100vw - 60px)/(-2));
  }
}

@media screen and (max-width: 767.5px) {
  .header-nav {
    max-width: calc(100vw - 40px);
    margin-left: calc((100vw - 40px)/(-2));
  }

  .header-nav__links {
    width: 87.5vw;
    height: 214px;
    flex-direction: column;
    background: #393939;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    position: absolute;
    top: 58px;
    padding: 20px 0 20px 0;
    box-sizing: content-box;
    gap: 18px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .5s, opacity .5s linear;
  }

  .header-nav__links_mobile-menu {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  .header-nav__links_theme_light {
    background: #efefef;
  }
}

.opacity {
  opacity: 0.5;
}
