.contact {
    margin-top: 12px;
}

.contact:first-child {
    margin-top: 50px;
}

.contact:last-child {
    text-decoration: underline;
    color: #000000;
}

.contact__link {
    text-decoration: none;
    color: #000000;
}

.contact__link:focus {
    outline: #FAA805 1px dotted;
}

@media screen and (max-width: 500px) {
    .contact:first-child {
        margin-top: 40px;
    }
}