.gallery {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__carousel {
  display: flex;
  align-items: center;
}

.gallery__image {
  width: 660px;
  height: 320px;
  object-fit: none;
  margin-bottom: 14px;
}

.gallery__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #525252;
}

.arrow-button {
  width: 52px;
  height: 52px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  border-radius: 6px;
}

.arrow-button_left {
  background-image: url('../../images/gallery/gallery-left-arrow.svg');
  padding: 0;
  margin-right: 30px;
}

.arrow-button_right {
  background-image: url('../../images/gallery/gallery-right-arrow.svg');
  padding: 0;
  margin-left: 30px;
}