.section {
  background-color: #f9f9f9;
  border-radius: 14px;
  display: flex;
  padding: 110px 100px 110px 100px;
  margin: 10px;
  box-sizing: content-box;
}

.section_layout_vertical {
  flex-direction: row;
}

.section_layout_horizontal {
  flex-direction: column;
}

.section__title {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0 0 70px;
}

@media screen and (min-width: 1281px) {
  .section {
    padding-right: calc((100vw - 1080px) / 2);
    padding-left: calc((100vw - 1080px) / 2);
    justify-content: center;
  }
}

@media screen and (max-width: 1279.5px) {
  .section {
    padding: 110px calc((100vw - 568px) / 2)
  }
}

@media screen and (max-width: 768px) {

  .section_layout_vertical {
    flex-direction: column;
  }

  .section_layout_horizontal {
    min-height: 767px;
  }
}

@media screen and (max-width: 425px) {
  .section__title {
    margin: auto;
    font-size: 28px;
    line-height: 32px;
  }
}
