.section {
  background-color: #f9f9f9;
  border-radius: 14px;
  padding: 110px 100px 110px 100px;
  margin: 10px;
  box-sizing: content-box;
}

.section__content {
  display: flex;
  flex-direction: column;
}

.section_type_gallery {
  padding-bottom: 100px;
}

.section_type_products {
  padding-bottom: 270px;
}

.section_layout_vertical {
  flex-direction: row;
}

.section_layout_horizontal {
  flex-direction: column;
  box-sizing: border-box;
}

.section__title {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 90px;
  padding: 0;
  max-width: 480px;
}

.section__title_type_gallery {
  align-self: center;
  margin-bottom: 50px;
}

.section__title_type_benefits {
  margin: 0 0 82px;
}

.section__title_type_cards-with-images {
  line-height: 43.3px;
}

.section__title_type_team {
  align-self: center;
}

@media screen and (min-width: 1281px) {
  .section__content {
    max-width: 1060px;
    margin: auto;

  }
}


@media screen and (max-width: 1279px) {
  .section_type_team {
    padding: 110px 100px 144px;
  }
}


@media screen and (max-width: 768px) {
  .section {
    padding: 50px 12px 80px;
  }

  .section_type_gallery {
    padding-bottom: 92px;
  }

  .section__title_type_benefits {
    margin-bottom: 82px;
  }

  .section__title_type_gallery {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 42px;
  }

  .section_type_team {
    padding: 50px 32px 80px;
  }

  .section_type_products {
    height: 898px;
    padding-bottom: 0;
    height: 986px;
    position: relative;
  }

  .section__title_type_products {
    position: absolute;
    top: 478px;
    margin-top: 30px;
    text-align: center;
    margin: 514px auto 0;
  }

  .section__title_type_gallery {
    margin-bottom: 40px;
  }

  .section__title_type_team {
    margin-bottom: 40px;
  }

  .section__title_type_benefits {
    margin-bottom: 40px;
  }

  .section__title_type_cards-with-images {
    margin-bottom: 70px;
  }

  .section_layout_vertical {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .section__title {
    margin: auto;
    margin-bottom: 82px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
}

